.job-p, .env-p{
    display: inline-block;
    line-height: 0;
    margin: 0 !important;
}

.job-body, .env-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-body{
    margin-bottom: 20px;
}
.ant-select {
    display: inline-block;
    width: 60% !important;
}

.ant-modal{
    text-align: center;
   
}

.add-btn{
    width: 30%;
    height: 100%;
}

.ant-modal-footer{
    display: flex;
    justify-content: right;
    border-radius: 0 0 20px 20px !important;
    
}


.open-btn, .add-btn{
    background-color: black !important;
    border-radius: 15px;
    border-color:black !important;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.open-btn:hover, .add-btn:hover{
    background-color: rgb(66, 68, 73) !important;
}

.ant-modal-content{
    border-radius: 20px !important;
    
}

.ant-modal-header{
    
    background-image: linear-gradient(360deg, #82b74b, #90ef01);
    border-radius: 20px 20px 0 0 !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border:none;
}

.ant-modal-title{
    color: white !important;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    font-size: 20px;
    font-weight: bold;
}

.ant-modal-close-x:hover svg{
    fill:white;
}
