.select-bucket-p{
    display: inline-block;
    line-height: 0;
    margin: 0 !important;
    color: white !important;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5) !important;
    font-size: 15px;
    font-weight: 700;
    width: 50%;
    text-align:left !important;
}

.enter-bucket{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
}

.bucket-text-box{
    display:inline-block;
    border-radius: 20px !important;
    width: 283.2px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.ant-select {
    display: inline-block;
    width: 60% !important;
}

.ant-modal{
    text-align: center;
}

.add-btn{
    width: 30%;
    height: 100%;
    background-image: linear-gradient(360deg, #04598e, #0474CC) !important;
    border-radius: 15px;
    border:none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    font-weight: 600;
}

.add-btn:hover{
    background-image: linear-gradient(360deg, #0470b3, #048ff9) !important;
    
}

.ant-modal-footer{
    display: flex;
    justify-content: right;
    border-radius: 0 0 20px 20px !important;
    border: none;
    padding-bottom: 15px;
    padding-right: 23px;
    
}


.open-bucket-btn{
    background-image: linear-gradient(360deg, #000000, #444444) !important;
    border-radius: 15px;
    border:none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    font-weight: 600;
    text-align: center;
    padding: 0;
    line-height: 0;
    width: 150px;
}

.open-btn:hover{
    background-image: linear-gradient(360deg, #333333, #666666) !important;
}

.ant-modal-content{
    border-radius: 20px !important;
    background-color:rgb(50, 50, 50);
    
}

.ant-modal-body{
    border: none;
    padding-bottom: 10px;
}

.ant-modal-header{
    
    background-image: linear-gradient(360deg, #82b74b, #c5ff05);
    border-radius: 20px 20px 0 0 !important;
    border:none;
}

.ant-modal-title{
    color: black !important;
    text-shadow: 1px 1px 50px black;
    font-size: 20px;
    font-weight: 800;
}

.ant-modal-close-x:hover svg{
    fill:white;
}

.ant-modal-close-x:hover{
    background-image: linear-gradient(360deg, rgb(142, 0, 0), red) !important;
    border-radius: 0 20px 0 0 !important;
}
