.searchbar {
    width: 300px;
    display: inline-block;
}

.ant-input-search-button{
    background-image: linear-gradient(360deg, #000000, #444444) !important;
    border:none !important;
    border-radius:0 15px 15px 0 !important;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.ant-input-affix-wrapper{
    border-radius: 15px 0 0 15px !important;
    border-color: transparent !important;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.ant-input-group-addon{
    border-radius: 0 15px 15px 0 !important;
    background-image: linear-gradient(360deg, #000000, #444444) !important;
    
}

.ant-input-search-button:hover{
    background-image: linear-gradient(360deg, #333333, #666666) !important;
}