.tab-body{
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: left;
    gap : 50px;
    padding:0 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.ant-tabs-nav-wrap{
    color:white !important;
    display: flex;
    justify-content: right;
    height: 60px;
    padding:0 50px 0 0;
    background-image: linear-gradient(360deg, #04598e, #0474CC);
    border-radius:30px !important;
    margin: auto;
    width: 98%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.ant-tabs-nav{
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: flex-end !important;
    align-content: center;
    width: 98%;
    padding: 15px 0 0 0 !important;
    margin: 0 1% !important;

}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before {
    content: none;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: left;
    width: 125px !important;
    height: 60px;
    background-image: linear-gradient(180deg, #fb1ac6, #ff007b);
    border-radius: 30px;
    box-shadow: 10px 2px 15px rgba(0,0,0,0.5);
    margin-right: 15px;
    padding: 0;
}

.logo{
    width: 100px;
}
.header{
    position: absolute;
    top: 15px;
    left: 1%;
    min-width: max-content;
}

.head{
    display: flex;
    justify-content: left;
    align-items: center !important;
    align-content: center;
    height: 60px;
    border-radius:30px !important;
    margin: 0;
}


.head p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vw;
    display:inline-block;
    line-height: 0;
    margin-top:3.2vw;
    min-width: max-content;
    color: white;
    text-align: left;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.ant-tabs-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 150px;
}

.ant-tabs-tab-btn:hover{
    color: white;

}

.ant-tabs-tab:hover{
    color: white;
    background-image: linear-gradient(360deg, #000000, #444444) !important;

}

.ant-tabs-tab-active, .ant-tabs-tab-btn-active{
    color: white !important;
    background-image: linear-gradient(360deg, #000000, #444444) !important;
    margin: 0;
}
