.card{
    width: 100%;
    min-height: 60px;
    display:flex;
    justify-content: flex-start !important;
    align-items: center !important;
    border-radius: 20px;
    background-color: white;
    gap:10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    padding-right: 2%;
}

.ant-checkbox{
    background-color: transparent;
}

.ant-checkbox{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.ant-checkbox-checked .ant-checkbox-inner{
    background-color: red;
}

.edit-btn{
        background-image: linear-gradient(360deg, #000000, #444444) !important;
        border-radius: 15px;
        border:none;
        width: 70px !important;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        font-weight: 600;
}


.card p{
    width: 205px;
    text-align: left;
    line-height: 0;
    margin: 0;
}

.ant-checkbox-wrapper{
    height: 60px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(360deg, #000000, #5b5b5b);
    border-radius: 20px 0 0 20px !important;
}

.card .open-btn{

    width: 70px;
}